
<div class="featured-wrapper">
  <div class="writingwrapper">
      <section class="featured">
        <div class="textspace top">
          <aside>
            <h2>Latest Shows</h2>
          </aside>
          <div class="grid">

          {{#each latestShows as |show|}}
            <div>
              {{#link-to "shows.show" show.created}}
                <img src="/images/{{show.created}}.jpg" class="fullimg" id="fullimg">
                <b class="label">{{show.title}}</b>
                <em class="detail">{{moment-format show.created "Do MMMM YYYY"}}</em>
              {{/link-to}}
            </div>
          {{/each}}
          </div>
        </div>
      </section>
  </div>
</div>

<div class="writingwrapper">
  <section class="writinglist">
    {{#each-in byYears as |year shows|}}
      <div class="textspace">
        <aside><h2>{{year}} Archive</h2></aside>
        <div>
          <ul class="tablelist">
            {{#each shows as |show|}}
          	<li>
              <!-- <span {{action "play"}}>play show</span> -->
              {{#link-to 'shows.show' show.created}}
                <b class="label">{{show.title}}</b>
                <em class="detail">{{moment-format show.created "Do MMM YYYY"}}</em>
              {{/link-to}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each-in}}
  </section>
</div>
