<div class="featured-wrapper">
    <section class="featured center">
        <article>
            <div class="body">
                  <img src="/images/{{show.created}}.jpg" class="fullimg perma-fullimg" id="fullimg">

                  {{#if show.nts}}
                      <a href="{{show.nts}}" target="_blank" class="play-show-container">
                          <div class="play-show"></div>Play Show
                      </a>
                  {{else}}
                      <!-- {{action "play" show}} -->
                      <a href="http://mixcloud.com{{show.play}}" target="_blank" class="play-show-container">
                          <div class="play-show"></div>Play Show
                      </a>
                  {{/if}}
            </div>
        </article>
    </section>
</div>

<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              <p>{{show.title}}</p>
              <p>Aired: {{moment-format show.created "Do MMMM YYYY"}}</p>
              {{#if show.text}}
                <p>{{show.text}}</p>
              {{/if}}

              <p>Listen via:
                {{#if show.nts}}<a href="{{show.nts}}" target="_blank">NTS Website</a>{{/if}}{{#if show.soundcloud}}, <a href="{{show.soundcloud}}" target="_blank">Soundcloud</a>{{/if}}{{#if show.download}}, <a href="{{show.download}}" target="_blank">Download</a>{{/if}}
              </p>

              <p style="text-align: center; margin-top: 80px;">{{#link-to "shows.index"}}Back to all shows{{/link-to}}</p>
          </div>
      </article>
  </section>
</div>
