<div class="featured-wrapper">
    <section class="featured center">
        <article>
            <div class="body">
                  <img src="/images/{{show.created}}.jpg" class="fullimg" id="fullimg" style="width: 321px; height: 321px; margin: 20px auto;">

                  <span class="play-show" {{action "play" show}}>play show</span>
            </div>
        </article>
    </section>
</div>

<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              <p>{{show.title}}</p>
              <p>Aired: {{moment-format show.created "Do MMMM YYYY"}}</p>
              {{#if show.text}}
                <p>{{show.text}}</p>
              {{/if}}
              <p><a href="{{show.download}}">Download</a></p>
              <br>
              <p><a href="{{show.nts}}" target="_blank">View on NTS Website</a></p>
              <p style="text-align: center; margin-top: 80px;">{{#link-to "shows.index"}}All shows{{/link-to}}</p>
          </div>
      </article>
  </section>
</div>
