<div class="featured-wrapper">
    <section class="featured center">
        <article>
            <div class="body">
                  <img src="/images/{{show.created}}.jpg" class="fullimg perma-fullimg" id="fullimg">

                  <div class="play-show-container" {{action "play" show}}>
                      <div class="play-show"></div>Play Show
                  </div>
            </div>
        </article>
    </section>
</div>

<div class="writingwrapper">
  <section class="text">
      <article>
          <div class="body">
              <p>{{show.title}}</p>
              <p>Aired: {{moment-format show.created "Do MMMM YYYY"}}</p>
              {{#if show.text}}
                <p>{{show.text}}</p>
              {{/if}}
              {{#if show.download}}
                <p><a href="{{show.download}}" target="_blank">Download</a></p>
              {{/if}}
                <br>
              {{#if show.nts}}
                <p><a href="{{show.nts}}" target="_blank">Listen on the NTS Website</a></p>
              {{/if}}
              <p style="text-align: center; margin-top: 80px;">{{#link-to "shows.index"}}All shows{{/link-to}}</p>
          </div>
      </article>
  </section>
</div>
