<div class="writingwrapper">
  <section class="featured">
    <div class="textspace top">
      <aside>
        <h2>Latest Shows</h2>
      </aside>
      <div class="grid">

      {{#each latestShows as |show|}}
        <div>
          <a href="#" {{action "play" show}}>
            <img src="{{show.image}}" class="fullimg" id="fullimg">
            <b class="label">{{show.title}}</b>
            <em class="detail">{{moment-format show.created "Do MMMM YYYY"}}</em>
          </a>
        </div>
      {{/each}}
      </div>
    </div>
  </section>
  <section class="writinglist">
    {{#each-in byYears as |year shows|}}
      <div class="textspace">
        <aside><h2>{{year}}</h2></aside>
        <div>
          <ul class="tablelist">
            {{#each shows as |show|}}
          	<li>
              <a href="#" {{action "play" show}}>
                <b class="label">{{show.title}}</b>
                <em class="detail">{{moment-format show.created "MMMM YYYY"}}</em>
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each-in}}
  </section>
</div>